.basket{
    display: none;
    left: 1258px;
    top: 63px;
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-weight: 300;
    position: absolute;
}

.basket-wrap{
    width: 400px;
    min-height: 100px;
    position: relative;
    background: whitesmoke;
    display: flex;
    text-align: center;
}

.basket-wrap td a{
    margin-left: 13px;
}