@import url('fonts.css');


body {
    background: #E3E3E3;
    scroll-behavior: smooth;
}

/*Каталог*/
.catalog{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 1300px;
    margin-top: 50px; 
}

img[src="../img/coffee_m.png"]{
    margin-top: 20px;
}

.first-option{cursor: pointer;}

.second-option{
    color: grey;
    cursor: pointer;
}

.catalog-content{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.catalog h1{
    margin-left: 330px;
    font-family: 'Rubik';
    font-weight: 200;
    font-size: 1.5vw;
}

.menu nav{
    width: 55%;
    display: flex;
    justify-content: space-evenly;
}

.menu nav a{
    color: black;
    text-decoration: none;
    border-bottom: 1px solid #E3E3E3;
    transition: .7s;
    font-family: 'Comfortaa';
}

.menu nav a:hover{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.menu h1{
    font-weight: 400;
}

.menu{
    font-family: 'Rubik';
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Продукт*/
.item{
    width: 316px;
    height: 420px;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px;
    margin: 20px 0px;
}

.item b{
    font-family: 'Montserrat';
    font-weight: 500;
} 

/*Прогресс-бары*/
.bars{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bars p{
    color: gray !important;
    font-size: 14px !important;
    font-family: 'Inter' !important;
}

/*Цены и кнопка покупки*/
.buy-menu{
    margin-top: 23px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-menu a{
    background: black;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: .6s;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.buy-menu a:hover{
    background: rgb(61, 61, 61);
}

.buy-menu img{
    padding-left: 20px;
}

.prices{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.prices p, .prices s, .sort .buy-menu p{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    font-weight: lighter;
}

.second-option{
    margin-right: 41px;
}

.item p, .item s{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.3px;
}

.catalog-content:nth-child(4) .item{
    height: 340px;
}

.sort .item{
    height: 340px !important;
}
