@import url('fonts.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    background: #FFEDD8;
}

.wrap {
    width: 1280px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 300;
    align-items: center;
}

.catalog-content{
    width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header {
    background: #FFEDD8;
    width: 100%;
    min-width: 1280px;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header p {
    color: #000000;
    opacity: 50%;
    font-size: 13px;
    font-family: 'Rubik Glitch';
}

header span a {
    color: #928888 !important;
    transition: .6s;
    font-family: 'Montserrat';
    font-weight: 500;
}

header span a:hover {
    color: black !important;
    letter-spacing: .7px;
}

.logo {
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: space-between;
}

header nav a {
    transition: .7s;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: gray;
}

/*Каталог*/
.catalog{
    width: 100%;
    background: seagreen;
    display: flex;
    flex-direction: column;
    min-width: 1300px;
}

.catalog h1{
    margin-left: 330px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 1.5vw;
}

/*Продукт*/
.item{
    width: 316px;
    height: 420px;
    background: #FFFFFF;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 8px;
    margin: 20px 0px;
}

.item b{
    font-family: 'Montserrat';
    font-weight: 500;
} 

/*Прогресс-бары*/
.bars{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.bars p{
    color: gray !important;
    font-size: 14px !important;
    font-family: 'Inter' !important;
}

/*Цены и кнопка покупки*/
.buy-menu{
    margin-top: 23px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-menu a{
    background: black;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: .6s;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 300;
}

.buy-menu a:hover{
    background: rgb(61, 61, 61);
}

.buy-menu img{
    padding-left: 20px;
}

.prices{
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.prices p, .prices s, .sort .buy-menu p{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    font-weight: lighter;
}

.second-option{
    margin-right: 41px;
}

.item p, .item s{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 15px;
    letter-spacing: -0.3px;
}

.catalog-content:nth-child(4) .item{
    height: 340px;
}

.sort .item{
    height: 340px !important;
}

/*Футер*/
footer{
    background: #EFEFEF;
    width: 100%;
    display: flex;
    height: 200px;
    border-top: 1px solid #a9a9a9;
}

footer p{
    color: black;
}

footer span a{
    color: black;
    text-decoration: none;
}

.footer-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.footer-right{
    background: #928888;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: center;
}

.footer-left p a, .phone a{
    transition: .6s;
    text-decoration: none;
    animation: rainbow 4s infinite alternate;
    animation-delay: 1s;
}

.footer-left span a{
    transition: .6s;
}

.footer-left span a:hover{
    color: rgb(206, 35, 124);
}

.footer-left p a:hover, .phone a:hover{
    animation: none;
    color: rgb(206, 35, 124);
}

@keyframes rainbow{
    0%{
        color: rgb(228, 64, 64);
    }
    100%{
        color: rgb(186, 35, 168);
    }
}