html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

body{
    background: #FFEDD8;
}

/* Сетка */
.wrap{
    width: 1280px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Mont';
    align-items: center;
}

header{
    background: #FFEDD8;
    width: 100%;
    min-width: 1280px;
    height: 70px;
    font-family: 'MontA';
    font-weight: lighter;
}

header p{
    color: #000000;
    opacity: 50%;
    font-size: 13px;
}
header span a{
    color: #928888 !important;
    transition: .6s;
}

header span a:hover{
    color: black !important;
    letter-spacing: .7px;
}

.logo{
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
}

nav{
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: space-between;
}

nav a{
    transition: .7s;
    text-decoration: none;
    color: black;
}

nav a:hover{
    
}

header span a{
    color: #928888 !important;
    transition: .6s;
}

header span a:hover{
    color: black !important;
    letter-spacing: .7px;
}