@import url('fonts.css');

body {
    background: #E3E3E3;
}

h3{
    text-align: center;
}

h1, h3{
    font-family: 'Montserrat';
    font-weight: 500;
}

.purchases{
    font-family: 'Inter', monospace;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 906px;

}

.purchases-content{
    display: flex;
    width: 100%;
}

.purchases nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17rem;
}

#tr{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

tr{
    text-align: center;
}

.purchases nav a{
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Текущий пункт меню */
#fav{
    font-weight: 500;
}

.purchases-info{
    margin: 0 auto;
}