@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    overflow-x: hidden;
}

body {
    background: #E3E3E3;
}

.wrap {
    width: 1280px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 300;
    align-items: center;
}


header {
    background: #FFEDD8;
    width: 100%;
    min-width: 1280px;
    height: 65px;
    align-items: center;
    justify-content: center;
    display: flex;
}

header p {
    color: #000000;
    opacity: 50%;
    font-size: 13px;
    font-family: 'Rubik Glitch';
}

header span{
    align-self: center;
}

header span a {
    color: #928888 !important;
    transition: .6s;
    font-family: 'Comfortaa';
    font-weight: 500;
    align-self: center;
}

header span a:hover {
    color: black !important;
    letter-spacing: .7px;
}

.logo {
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: space-between;
    text-align: center;
}

header nav a {
    transition: .7s;
    text-decoration: none;
    color: black;
    font-family: 'Comfortaa';
    align-self: center;
}

header nav a:hover {
    color: gray;
}

#like{
    background: url('../img/like.png');
    width: 31px;
    height: 29px;  
    display: block;
    filter: grayscale(100%);
    transition: .8s;
    cursor: pointer;
}

.filter{
    transform: scale(1.05);
    filter: grayscale(0%) !important;
}

.second-option p{
    filter: grayscale(100%);
}

/*Футер*/
footer{
    background: #EFEFEF;
    width: 100%;
    display: flex;
    height: 200px;
    border-top: 1px solid #a9a9a9;
}

footer p{
    color: black;
}

footer span a{
    color: black;
    text-decoration: none;
}

.footer-left{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.footer-right{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.footer-right img{
    margin: 0px 10px;
    transition: 1.6s;
}

.footer-right img:hover{
    transform: rotate(360deg);
}

.footer-right p{
    font-family: 'Comfortaa', sans-serif;
    font-size: 24px;
    text-align: center;
}

.footer-left p a, .phone a{
    transition: .6s;
    text-decoration: none;
    animation: rainbow 4s infinite alternate;
    animation-delay: 1s;
}

.footer-left span a{
    transition: .6s;
}

.footer-left span a:hover{
    color: rgb(206, 35, 124);
}

.footer-left p a:hover, .phone a:hover{
    animation: none;
    color: rgb(206, 35, 124);
}



@keyframes rainbow{
    0%{
        color: rgb(228, 64, 64);
    }
    100%{
        color: rgb(186, 35, 168);
    }
}