.dnone{
    display: none;
}

.popup{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    font-family: 'Inter';
    font-weight: 300;
}

.popup-header{
    background-color: #FFEDD8;
    display: flex;
    padding: 15px;
    width: auto;
    height: 12px;
    align-items: center;
    color: black;
}

#close-window{
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    transition: .3s;
}
#close-window:hover, #close-window:focus{
    color: red;
    text-decoration: none;
    cursor: pointer;
}

.popup-content{
    width: 400px;
    height: 420px;
    position: relative;
    background-color: #fff;
    color: black;
    margin: 120px auto;
    border: 1px solid grey;
    animation: 0.6s topanimation;
    display: flex;
    flex-flow: column wrap;
}

.popup-content label{
    display: flex;
    background: green;
    justify-content: space-between;
    align-items: center;
}

.popup-content input{
    width: 180px;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.popup-content p{
    font-family: 'Inter';
}

.closeAnimation{
    animation: 1s botanimation;
}

.login-input{
    transition: .8s;
    width: 180px;
    height: 30px;
    outline: none;
    border: none;

    border-bottom: 1px solid black;
    margin: 20px 0px;
}

.login-input:focus{
    background: #FFEDD8;
    color: black;
}

.popup-btn-block{
    width: 94%;
    height: 101px;
    display: flex;
    align-items: center;
}

#popup-btn{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .47s;
    margin: 0 auto;
    font-family: 'Inter';
    font-size: 14px;
}

#popup-btn:hover{
    background: black;
    color: white;
}

.popup-body{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

@keyframes topanimation {
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@keyframes botanimation {
    from{
        top: 0;
        opacity: 1;
    }
    to{
        top: -300px;
        opacity: 0; 
    }
}