@import url('fonts.css');

.content{
    width: 100%;
    height: 64%;
}

.left-block{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.right-block{
    text-align: center;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.price{
    display: flex;
    justify-content: space-around;
}

.bars{
    display: flex;
    justify-content: space-around;
}

.btn-block{
    height: 200px;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
}

.btn-block a{
    width: 140px;
    height: 35px;
    display: flex;
    background: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .7s;
}

.btn-block span img{
    margin-left: 15px;
}

.bars{
    margin-bottom: 35px;
}

.btn-block a:hover{
    background: white;
    color: black;
}

.btn-block span{
    display: flex;
    width: 190px;
    justify-content: space-evenly;
}

.product-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    height: 70%
}

.product-info{
    background: #262323;
    width: 100%;
    min-height: 50%;
}

.product-info nav{
    width: 40%;
    background: green;
    align-items: center;
    display: flex;
    justify-content: center;
}

.product-info nav a{
    transition: .7s;

}

.product-info nav a:hover{

}