@import url('fonts.css');

.content{
    width: 100%;
    height: 64%;
}

.left-block{
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.right-block{
    text-align: center;
    width: 60%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.price{
    font-size: 17px;
    display: flex;
    justify-content: space-around;
}

.bars{
    display: flex;
    justify-content: space-around;
}

.btn-block{
    height: 200px;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
}

.btn-block a{
    width: 140px;
    height: 35px;
    display: flex;
    background: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: .6s;
}

.btn-block span img{
    margin-left: 15px;
}

.bars{
    margin-bottom: 35px;
}

.btn-block a:hover{
    background: #4A4A4A;
}

.btn-block span{
    display: flex;
    width: 190px;
    justify-content: space-evenly;
}

.product-block{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: space-around;
    height: 70%
}

.left-bar img,
.right-bar img{
    width: 150px;
    height: 3px;
}

.selected{
    border-bottom: 1px solid white;
    padding-bottom: 6px;
}

.selected-black{
    border-bottom: 1px solid black;
}

.first-option{
    transition: .7s;
    cursor: pointer;
}

.second-option{
    transition: .7s;
    color: grey;
    cursor: pointer;
}

.first-option:hover,
.second-option:hover{
    letter-spacing: .2px;
}

.product-info{
    background: #262323;
    min-height: 70%
}

.product-info nav{
    width: 58%;
    height: 120px;
    font-family: 'Montserrat';
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.product-info nav a{
    transition: .7s;
    color: white;
    text-decoration: none;
}

.product-info nav a:hover{
    letter-spacing: .8px;
}

.product-content,
.reviews-block{
    font-size: 19px;
    font-family: 'Montserrat';
    color: white;
    width: 1280px;
    margin: 0 auto;
    font-weight: 200;
    flex-wrap: wrap;
}

.reviews-block{
    height: 760px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.review{
    width: 350px;
    height: 300px;
    border: 1px solid white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.product-content p{
    line-height: 25px;
}