@import url('fonts.css');

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

body {
    background: #E3E3E3;
}

/*Врап1280*/
.wrap {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
    font-weight: 300;
    align-items: center;
    margin: 0 auto;
}

/*Шапка сайта*/
header {
    background: #FFEDD8;
    /*min-width: 900px;*/
    flex-wrap: wrap;
    min-height: 65px;
    justify-content: center;
    display: flex;
    flex: 1 1 65px;
}

header p {
    color: #000000;
    opacity: 50%;
    font-size: 13px;
    font-family: 'Rubik Glitch';
}

header span a {
    color: #928888 !important;
    transition: .6s;
    font-family: 'Montserrat';
    font-weight: 500;
}

header span a:hover {
    color: black !important;
    letter-spacing: .7px;
}

.logo {
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
}

header nav {
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav a {
    transition: .7s;
    text-decoration: none;
    color: black;
}

header nav a:hover {
    color: gray;
}

.profile{
    font-family: 'Inter', monospace;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 906px;
}

h1{
    margin-left: 30px;
}

h3{
    text-align: center;
}

h1, h3{
    font-family: 'Montserrat';
    font-weight: 500;
}

.profile-content{
    display: flex;
    width: 90%;
}

.profile nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17rem;
}

.profile nav a{
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Текущий пункт меню */
#profile{
    font-weight: 500;
}

.profile-info{
    margin: 0 auto;
}

.bio-info{
    width: 650px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bio-info input{
    margin: 40px 20px;
    width: 230px;
    height: 40px;
    background: #C4C4C4;
    border: none;
    outline: none;
    display: flex;
    flex-wrap: wrap;
}

.bio-info input::placeholder{
    font-size: 1.1rem;
    font-family: 'Montserrat', monospace;
    font-weight: 500;
}

/*Блок с кнопкой*/
.btn-block{
    margin: 50px auto;  
}

/*Кнопка сохранить*/
.btn-block a{
    background: black;
    width: 145px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .6s;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 300;
}


.btn-block a:hover{
    background: rgb(61, 61, 61);
}
