@import url('fonts.css');

body {
    background: #E3E3E3;
}

h3{
    text-align: center;
}

h1, h3{
    font-family: 'Montserrat';
    font-weight: 500;
}

.sub{
    font-family: 'Inter', monospace;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 906px;

}

.sub-content{
    display: flex;
    width: 90%;
}

.sub nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17rem;
}

.sub nav a{
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Текущий пункт меню */
#sub{
    font-weight: 500;
}

.sub-info{
    margin: 0 auto;
}

.sub-info input{
    width: 25px;
    height: 25px;
    background: white;
}

.sub-info p{
    margin: 27px;
}

#emailP{
    font-size: 12px;
}

.sub-info span{
    display: flex;
}

.sub-info span i{
    display: block;
    font-style: normal;
    width: 200px;
    margin-left: 15px;
    font-size: 12px;
}