@import url('fonts.css');

h3{
    text-align: center;
}

h1, h3{
    font-family: 'Montserrat';
    font-weight: 500;
}

.sup{
    font-family: 'Inter', monospace;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 906px;

}

.sup-content{
    display: flex;
    width: 90%;
}

.sup nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 17rem;
}

.sup nav a{
    margin: 10px 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'Rubik', monospace;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Текущий пункт меню */
#support{
    font-weight: 500;
}

.sup-info{
    margin: 0 auto;
    width: 700px;
}

.txtar{
    position: relative;
}

.btn-block a{
    background: black;
    width: 140px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    transition: .6s;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 300;
    position: absolute;
}

.sup-info p{
    line-height: 50px;
}

.sup-info b{
    font-weight: 500;
}

.sup-info p a{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-weight: 500;
    animation: rainbow 4s infinite alternate;
}