@import "fonts/fonts.css";

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

/* Сетка */
.wrap{
    width: 1280px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    /* background: rgba(0, 0, 0, .3); */
    justify-content: space-between;
    align-items: center;
}

header{
    background: #D6BECB;
    width: 100%;
    min-width: 1280px;
    height: 70px;
    font-family: 'MontA';
    font-weight: lighter;
}

header p{
    color: #000000;
    opacity: 50%;
    font-size: 13px;
}

.content{
    display: flex;
    width: 100%;
    height: 100%;
    /* justify-content: space-between;
    align-items: center; */
}

.logo{
    display: flex;
    align-items: center;
    width: 26%;
    justify-content: space-between;
}

.links{
    display: flex;
    flex-direction: row;
    width: 47%;
    justify-content: space-between;
}

.links a{
    text-decoration: none;
    color: black;
}

span a{
    color: #928888 !important;
    transition: .6s;
}

span a:hover{
    color: black;
    letter-spacing: .7px;
}

/* Видео */
.banner{
    width: 100%;
    height: 550px;
    background: goldenrod;
}

iframe{
    width: 1920px;
    height: 100%;
}

/* Акции */
.sales{
    /* background: #EFEFEF; */
    background: blanchedalmond;
    width: 100%;
    min-width: 1280px;
    min-height: 500px;
}

/* Блок с текстом в Акциях */
.sales .txt-block{
    display: flex;
    height: 120px;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 22px;
    font-family: 'Mont';
}

/* Товар */
.products{
    display: flex;
    flex-wrap: wrap;
    background: red;
    width: 1280px;
    min-width: 1280px;
    margin: 0 auto;
    justify-content: space-between;
}

.item{
    width: 316px;
    height: 312px;
    background: #FFFFFF;
}