@font-face {
    font-family: "MontA";
    src: url(../fonts/MA/MontserratAlternates-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "MontA";
    src: url(../fonts/MA/MontserratAlternates-ExtraBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "MontA";
    src: url(../fonts/MA/MontserratAlternates-Thin.ttf);
    font-weight: thin;
}

@font-face {
    font-family: "MontA";
    src: url(../fonts/MA/MontserratAlternates-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Mont";
    src: url(../fonts/M/Montserrat-Regular.ttf);
    font-weight: normal;
}